html
  background: #1c1c1c
  color: #ffffff
  font-family: 'Montserrat', sans-serif

body
  margin: 0
  height: 3000px
  width: 100%

.flex
  display: flex

.col
  flex-direction: col

header 
  postition: fixed
  top: 0
  width: 100%

  